[user]
	name = einarlove
	email = post@einarlove.com

[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.gitignore
	editor = code --wait

[alias]
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	publish = "!git push origin -u $(git branch-name)"
	unpublish = "!git push origin :$(git branch-name)"
	ours = "!f() { git checkout --ours $@ && git add $@; }; f"
	theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
	today = "!git log --since="00:00:00" --no-merges --oneline --author=$(git config user.email)"

[push]
	default = matching
[fetch]
    prune = true
[remote "origin"]
	fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
