# Packages
*.gz
*.zip
*.tar
*.tgz

# Private
.env

# Logs
*.log
*.sqlite

# Cruft
.DS_Store
.monitor
.nodemonignore
Thumbs.db
temp
tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json.*

# Sublime
*.sublime-*

# Xcode
xcuserdata/
project.xcworkspace/
